<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBe4Vokbfg4L2cWxSyt8Ze8jQnlBkV9-W0</string>
	<key>GCM_SENDER_ID</key>
	<string>150141195200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khi.jamjam</string>
	<key>PROJECT_ID</key>
	<string>jamjam-bc91b</string>
	<key>STORAGE_BUCKET</key>
	<string>jamjam-bc91b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150141195200:ios:1ffb29f442f13d34cfee25</string>
</dict>
</plist>